@use "../../colors.scss" as colors;

.hr-exec-home-title {
  margin: 30px auto;
  text-align: center;
}

.hr-exec-home-table-row:hover {
  cursor: pointer;
  color: cadetblue;
}

.hr-exec-home-table-row-selected {
  cursor: grab;
  color: chocolate !important;
}

#hr-exec-home-job-description-container {
  margin: 30px 200px;
  padding-bottom: 30px;
  border: 1px dashed colors.$primary-gold;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hr-exec-home-job-description {
  // width: 50%;
}

.hr-exec-home-job-description-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#hr-exec-home-job-description div {
  font-size: large;
  margin: 5px;
}

#hr-exec-home-job-description-button-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#hr-exec-home-job-apply-btn {
  margin-top: 20px;
  border: 1px solid black;
  padding: 0;
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  vertical-align: middle;
  min-width: 250px;
  min-height: 45px;
  background-color: colors.$primary-gold;
  color: colors.$primary-blue;
  cursor: pointer;
}

#hr-exec-home-job-apply-btn:hover {
  border: none;
  -webkit-box-shadow: 0 0 10px colors.$primary-gold;
  box-shadow: 0 0 20px colors.$primary-gold;
}

#hr-exec-home-candidate-table-container {
    margin-top: 30px;
}