
.AptitudeTest {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 30px;
  width: 100%; 
  flex-direction: column;
}

.question-section {
  margin-bottom: 20px;
  text-align: center;
}

.answer-section {
  display: flex;
  flex-direction: row;
  gap: 80px;
  text-align: center;
}

button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0;
}
